* {
    outline:none !important;
    -moz-outline: none !important;
}
html, body{height:100%}
/* Main */

/*Bootstrap-overlay*/

body {
    overflow-x: hidden;
    margin-top: -10px; font-family: 'Open Sans', sans-serif; font-size:12px; color:#666;
}
a{color:#666;}
a:hover, a:focus {
    text-decoration: none; color:#28b779;
}
.dropdown-menu .divider{ margin:4px 0px;}
.dropdown-menu{ min-width:180px;}
.dropdown-menu > li > a{ padding:3px 10px; color:#666; font-size:12px;}
.dropdown-menu > li > a i{ padding-right:3px;}
.userphoto img{ width:19px; height:19px;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .label, .dropdown-menu, .btn, .well, .progress, .table-bordered, .btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle, .alert{ border-radius:0px;}
.btn, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ box-shadow:none;}
.progress, .progress-success .bar, .progress .bar-success, .progress-warning .bar, .progress .bar-warning, .progress-danger .bar, .progress .bar-danger, .progress-info .bar, .progress .bar-info, .btn, .btn-primary{background-image:none;}
.accordion-heading h5{ width:70%; }
.form-horizontal .form-actions{ padding-left:20px; }
#footer{ padding:10px; text-align:center;}
hr{ border-top-color:#dadada;}
.carousel{ margin-bottom:0px;}
.fl { float:left}
.fr {float:right}
.label-important, .badge-important{ background:#f74d4d;}

/*Metro Background color class*/
.bg_lb{ background:#27a9e3;}
.bg_db{ background:#2295c9;}
.bg_lg{ background:#28b779;}
.bg_dg{ background:#28b779;}
.bg_ly{ background:#ffb848;}
.bg_dy{ background:#da9628;}
.bg_ls{ background:#2255a4;}
.bg_lo{ background:#da542e;}
.bg_lr{ background:#f74d4d;}
.bg_lv{ background:#603bbc;}
.bg_lh{ background:#b6b3b3;}

/* Header */
#header {
    height: 77px;
    position: relative;
    width: 220px;
    z-index: -9;
}
#header h1 {
    /*background: url("../img/logo_2.png") no-repeat scroll 0 0 transparent;*/
    height: 31px;
    left: 20px;
    line-height:27px;
    overflow: hidden;
    position: relative;
    top: 26px;
    width: 191px;
    font-size: 27px;

}
#header h1 a {
    display: block; color: #fff;
}
/* Search input */
#search {
    position: absolute;
    z-index: 25;
    top: 6px;
    right:10px;
}
#search input[type=text] {
    padding: 4px 10px 5px;
    border: 0;
    width: 100px;
}
#search button {
    border: 0;
    margin-left:-3px; 
    margin-top: -11px;
    padding: 5px 10px 4px;
}
#search button i {
    opacity: 0.8; color:#fff;
}
#search button:hover i, #search button:active i {
    opacity: 1;
}


/* Top user navigation */
#user-nav {
    position: absolute;
    left: 220px;
    top:0px;
    z-index: 20;
    margin: 0;
}
#user-nav > ul {
    margin: 0;
    padding: 0;
    list-style: none; border-right: 1px solid #2e363f;border-left: 1px solid #000;
}
#user-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0; border-left: 1px solid #2e363f; border-right: 1px solid #000;
}
#user-nav > ul > li > a {
    padding:9px 10px;
    display: block;
    font-size: 11px;
}
#user-nav > ul > li > a:hover, #user-nav > ul > li.open > a {
    color: #ffffff;  background:#000;
}
#user-nav > ul > li > a > i, #sidebar li a i {
    opacity: .5; 
    margin-top: 2px;
}
#user-nav > ul > li > a:hover > i, #user-nav > ul > li.open > a > i {
    opacity: 1;
}
#user-nav > ul > li > a > .label {
    vertical-align: middle;
    padding: 1px 4px 1px;
    margin: -2px 4px 0;
    display: inline-block;
}
#user-nav > ul ul > li > a {
    text-align: left;
}
#user-nav > ul ul > li > a:hover {
}
/* Sidebar Navigation */
#sidebar {
    display: block;
    float: left;
    position: relative;
    width: 220px;
    z-index: 16;
}
#sidebar > ul {
    list-style: none;
    margin: 0px 0 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
#sidebar > ul > li {
    display: inline-block;
    width: 100%;
    position: relative;
}
#sidebar > ul > li > a {
    padding: 10px 0 10px 15px;
    display: block;
    color: #939da8;
}
#sidebar > ul > li > a > i {
    margin-right: 10px;
}
#sidebar > ul > li.active > a {
    background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
    text-decoration:none;
}
#sidebar > ul > li > a > .label {
    margin: 0 20px 0 0;
    float: right;
    padding: 3px 5px 2px;
}
#sidebar > ul li ul {
    display: none;
    margin: 0 0 0 -1px ;
    padding: 0;
    position: relative;
    width: 100%;
}
#sidebar > ul li.open ul {
    display: block;
}
#sidebar > ul li ul li a {
    padding: 10px 0 10px 25px;
    display: block;
    color: #777777;
}
#sidebar > ul li ul li:first-child a {
    border-top: 0;
}
#sidebar > ul li ul li:last-child a {
    border-bottom: 0;
}
/* Content */
#content {
    background: none repeat scroll 0 0 #eeeeee;
    margin-left: 220px;
    margin-right: 0;
    padding-bottom: 25px;
    position: relative;
    min-height:100%;
    width: auto;
}
#content-header {
    position: abslute;
    width: 100%;
    margin-top: -38px;
    z-index: 20;
}
#content-header h1 {
    color: #555555;
    font-size: 28px;
    font-weight: normal;
    float: none;
    text-shadow: 0 1px 0 #ffffff;
    margin-left: 20px;
    position: relative;
}
#content-header .btn-group {
    float: right;
    right: 20px;
    position: absolute;
}
#content-header h1, #content-header .btn-group {
    margin-top: 20px;
}
#content-header .btn-group .btn {
    padding: 11px 14px 9px;
}
#content-header .btn-group .btn .label {
    position: absolute;
    top: -7px;
}
.container-fluid .row-fluid:first-child {
    margin-top: 20px;
}
/* Breadcrumb */
#breadcrumb {
    background-color: #fff;
    border-bottom: 1px solid #e3ebed;
}
#breadcrumb a {
    padding: 8px 20px 8px 10px;
    display: inline-block;
    background-image: url('../img/breadcrumb.png');
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666666;
}
#breadcrumb a:hover {
    color: #333333;
}
#breadcrumb a:last-child {
    background-image:none;
}
#breadcrumb a.current {
    font-weight: bold;
    color: #444444;
}
#breadcrumb a i {
    margin-right: 5px;
    opacity: .6;
}
#breadcrumb a:hover i {
    margin-right: 5px;
    opacity: .8;
}
/*todo-list*/
.todo ul {
    list-style: none outside none;
    margin: 0;
}
.todo li {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 0;
    padding: 10px 0;
}
.todo li:hover {
    background: none repeat scroll 0 0 #FCFCFC;
    border-color: #D9D9D9;
}
.todo li:last-child{ border-bottom:0px;}
.todo li .txt {
    float: left;
}
.todo li .by {
    margin-left: 10px;
    margin-right: 10px;
}
.todo li .date {
    margin-right: 10px;
}

/* Stat boxes and quick actions */
.quick-actions_homepage {
    width:100%;
    text-align:center; position:relative;
    float:left;
    margin-top:10px;
}
.stat-boxes, .quick-actions, .quick-actions-horizontal, .stats-plain {
    display: block;
    list-style: none outside none;
    margin: 15px 0;
    text-align: center;
}
.stat-boxes2 {
    display: inline-block;
    list-style: none outside none;
    margin:0px; 
    text-align: center;
}
.stat-boxes2 li {
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0 10px; background:#fff; border: 1px solid #DCDCDC
}
.stat-boxes2 li:hover{ background: #f6f6f6; }
.stat-boxes2 .left, .stat-boxes .right {
    text-shadow: 0 1px 0 #fff;
    float: left;
}
.stat-boxes2 .left {
    border-right: 1px solid #DCDCDC;
    box-shadow: 1px 0 0 0 #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 14px 6px 4px;
}
.stat-boxes2 .right {
    color: #666666;
    font-size: 12px;
    padding: 9px 10px 7px 0;
    text-align: center;
    min-width: 70px; float:left
}
.stat-boxes2 .left span, .stat-boxes2 .right strong {
    display: block;
}
.stat-boxes2 .right strong {
    font-size: 26px;
    margin-bottom: 3px;
    margin-top: 6px;
}
.quick-actions_homepage .quick-actions li{ position:relative;}
.quick-actions_homepage .quick-actions li .label{ position:absolute; padding:5px; top:-10px; right:-5px;}
.stats-plain {
    width: 100%;
}
.stat-boxes li, .quick-actions li, .quick-actions-horizontal li {
    float: left;
    line-height: 18px;
    margin: 0 10px 10px 0px;
    padding: 0 10px;
}
.stat-boxes li a:hover, .quick-actions li a:hover, .quick-actions-horizontal li a:hover, .stat-boxes li:hover, .quick-actions li:hover, .quick-actions-horizontal li:hover {
    background: #2E363F;
}
.quick-actions li {
    min-width:14%;
    min-height:70px;
}
.quick-actions_homepage .quick-actions .span3{ width:30%;}
.quick-actions li, .quick-actions-horizontal li {
    padding: 0;
}
.stats-plain li {
    padding: 0 30px;
    display: inline-block;
    margin: 0 10px 20px;
}
.quick-actions li a {
    padding:10px 30px; 
}
.stats-plain li h4 {
    font-size: 40px;
    margin-bottom: 15px;
}
.stats-plain li span {
    font-size: 14px;
    color: #fff;
}
.quick-actions-horizontal li a span {
    padding: 10px 12px 10px 10px;
    display: inline-block;
}
.quick-actions li a, .quick-actions-horizontal li a {
    display: block;
    color: #fff; font-size:14px;
    font-weight:lighter;
}
.quick-actions li a i[class^="icon-"], .quick-actions li a i[class*=" icon-"] {
    font-size:30px;
    display: block;	
    margin: 0 auto 5px;
}
.quick-actions-horizontal li a i[class^="icon-"], .quick-actions-horizontal li a i[class*=" icon-"] {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-color: transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: -2px 0 0 !important;
    border-right: 1px solid #dddddd;
    margin-right: 10px;
    padding: 10px;
    vertical-align: middle;
}

.quick-actions li:active, .quick-actions-horizontal li:active {
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
    background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
}
.stat-boxes .left, .stat-boxes .right {
    text-shadow: 0 1px 0 #fff;
    float: left;
}
.stat-boxes .left {
    border-right: 1px solid #DCDCDC;
    box-shadow: 1px 0 0 0 #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 14px 6px 4px;
}
.stat-boxes .right {
    color: #666666;
    font-size: 12px;
    padding: 9px 10px 7px 0;
    text-align: center;
    min-width: 70px;
}
.stat-boxes .left span, .stat-boxes .right strong {
    display: block;
}
.stat-boxes .right strong {
    font-size: 26px;
    margin-bottom: 3px;
    margin-top: 6px;
}
.stat-boxes .peity_bar_good, .stat-boxes .peity_line_good, {
    color: #459D1C;
}
.stat-boxes .peity_bar_neutral, .stat-boxes .peity_line_neutral {
    color: #757575;
}
.stat-boxes .peity_bar_bad, .stat-boxes .peity_line_bad {
    color: #BA1E20;
}
.stats-plain {
}

.site-stats {
    margin: 0;
    padding: 0; text-align:center;
    list-style: none;
}
.site-stats li {
    cursor: pointer; display:inline-block;
    margin: 0 5px 10px; text-align:center; width:13%;
    padding:10px 0; color:#fff;
    position: relative;
}
.site-stats li i{ font-size:24px; clear:both}
.site-stats li:hover { background:#2E363F;
}

.site-stats li i {
    vertical-align: baseline;
}
.site-stats li strong {
    font-weight: bold;
    font-size: 20px; width:100%; float:left;
    margin-left:0px;
}
.site-stats li small {
    margin-left:0px;
    font-size: 11px;
    width:100%; float:left;
}
/* Charts & graphs **/
.chart, .pie, .bars, #donut, #interactive, #placeholder, #placeholder2 {
    height: 300px;
    max-width: 100%;
}
#choices{ border-top:1px solid #dcdcdc; margin:10px 0; padding:10px;}
#choices br{ display:none;}
#choices input{ margin:-5px 5px 0 0;}
#choices label{ display:inline-block; padding-right:20px; }
#tooltip {
    position: absolute;
    display:none;
    border: none;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 10px;
    background-color: #222222;
    color: #ffffff;
    z-index: 25;
}
/* Widgets */
.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border-left: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}
.widget-box.widget-calendar, .widget-box.widget-chat {
    overflow:hidden !important;
}
.accordion .widget-box {
    margin-top: -2px;
    margin-bottom: 0;
    border-radius: 0;
}
.widget-box.widget-plain {
    background: transparent;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}
.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
    background:#efefef;
    border-bottom: 1px solid #CDCDCD;
    height: 36px;  
}
.widget-title .nav-tabs {
    border-bottom: 0 none; 
}
.widget-title .nav-tabs li a {
    border-bottom: medium none !important;
    border-left: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    border-right: 1px solid #DDDDDD;
    border-top: medium none;
    color: #999999;
    margin: 0;
    outline: medium none;
    padding: 9px 10px 8px;
    font-weight: bold; 
    text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a {
    border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
    background-color: transparent !important;
    border-color: #D6D6D6;
    border-width: 0 1px;
    color: #2b2b2b;
}
.widget-title .nav-tabs li.active a {
    background-color: #F9F9F9 !important;
    color: #444444;
}
.widget-title span.icon {
    padding: 9px 10px 7px 11px;
    float: left; border-right:1px solid #dadada;
}
.widget-title h5 {
    color: #666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.widget-title .buttons {
    float: right;
    margin: 8px 10px 0 0;
}
.widget-title .label {
    padding: 3px 5px 2px;
    float: right;
    margin: 9px 11px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
    margin-right: 190px;
}
.widget-content {
    padding:15px;
    border-bottom: 1px solid #cdcdcd;
}
.widget-box.widget-plain .widget-content {
    padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
    border-bottom: 1px solid #CDCDCD;
}
.recent-posts, .recent-comments, .recent-users {
    margin: 0;
    padding: 0;
}
.recent-posts li, .recent-comments li, .article-post li, .recent-users li {
    border-bottom: 1px dotted #AEBDC8;
    list-style: none outside none;
    padding: 10px;
}
.recent-posts li.viewall, .recent-comments li.viewall, .recent-users li.viewall {
    padding: 0;
}
.recent-posts li.viewall a, .recent-comments li.viewall a, .recent-users li.viewall a {
    padding: 5px;
    text-align: center;
    display: block;
    color: #888888;
}
.recent-posts li.viewall a:hover, .recent-comments li.viewall a:hover, .recent-users li.viewall a:hover {
    background-color: #eeeeee;
}
.recent-posts li:last-child, .recent-comments li:last-child, .recent-users li:last-child {
    border-bottom: none !important;
}
.user-thumb {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 2px;
    width: 40px;
}
.user-info {
    color: #666666;
    font-size: 11px;
}

.invoice-content {
    padding: 20px;
}
.invoice-action {
    margin-bottom: 30px;
}
.invoice-head {
    clear: both;
    margin-bottom: 40px;
    overflow: hidden;
    width: auto;
}
.invoice-meta {
    font-size: 18px;
    margin-bottom: 40px;
}
.invoice-date {
    float: right;
    font-size: 80%;
}
.invoice-content h5 {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}
.invoice-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.invoice-to {
    float: left;
    width: 370px;
}
.invoice-from {
    float: right;
    width: 300px;
}
.invoice-to li, .invoice-from li {
    clear: left;
}
.invoice-to li span, .invoice-from li span {
    display: block;
}
.invoice-content th.total-label {
    text-align: right;
}
.invoice-content th.total-amount {
    text-align: left;
}
.amount-word {
    color: #666666;
    margin-bottom: 40px;
    margin-top: 40px;
}
.amount-word span {
    color: #5476A6;
    font-weight: bold;
    padding-left: 20px;
}
.panel-left {
    margin-top:103px;
}
.panel-left2 {
    margin-left:176px;
}
.panel-right {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
    position: absolute;
    right: 0;
    overflow:auto;
    top:38px;
    height:76px;
}
.panel-right2 {
    width: 100%;
    background-color: #fff;
    border-right: 1px solid #dddddd;
    position: absolute;
    left: 0;
    overflow:auto;
    top:0px;
    height:94%;
    width:175px;
}
.panel-right .panel-title, .panel-right2 .panel-title {
    width: 100%;
    background-color: #ececec;
    border-bottom: 1px solid #dddddd;
}
.panel-right .panel-title h5, .panel-right2 .panel-title h5 {
    font-size: 12px;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    padding: 6px 10px 5px;
    margin: 0;
}
.panel-right .panel-content {
    padding: 10px;
}
.chat-content {
    height: 470px;
    padding: 15px;
}
.chat-messages {
    height: 420px;
    overflow: auto;
    position: relative;
}
.chat-message {
    padding: 7px 15px;
    margin: 7px 0 0;
}
.chat-message input[type=text] {
    margin-bottom: 0 !important;
    width: 100%;
}
.chat-message .input-box {
    display: block;
    margin-right: 90px;
}
.chat-message button {
    float: right;
}
#chat-messages-inner p {
    padding:0px;
    margin: 10px 0 0 0;
}
#chat-messages-inner p img {
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-top:-1px;
    margin-right:10px;
}
#chat-messages-inner .msg-block, #chat-messages-inner p.offline span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
    display: block;
    margin-left:0px;
    padding: 10px;
    position: relative;
}
#chat-messages-inner p.offline span {
    background: none repeat scroll 0 0 #FFF5F5;
}
#chat-messages-inner .time {
    color: #999999;
    font-size: 11px;
    float:right;
}
#chat-messages-inner .msg {
    display: block;
    margin-top: 13px;
    border-top:1px solid #dadada;
}
#chat-messages-inner .msg-block:before {
    border-right: 7px solid rgba(0,0,0,0.1);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: "";
    display:none;
    left: -7px;
    position: absolute;
    top: 11px;
}
#chat-messages-inner .msg-block:after {
    border-right: 6px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    display: none;
    left: -6px;
    position: absolute;
    top: 12px;
}
.chat-users {
    padding: 0 0 30px;
}
.chat-users .contact-list {
    line-height: 21px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.chat-users .contact-list li {
    border: 1px solid #DADADA;
    margin:5px 5px;
    padding: 1px;
    position: relative;
}
.chat-users .contact-list li:hover {
    background-color: #efefef;
}
.chat-users .contact-list li a {
    color: #666666;
    display: block;
    padding: 8px 5px;
}
.chat-users .contact-list li.online a {
    font-weight: bold;
}
.chat-users .contact-list li.new {
    background-color: #eaeaea;
}
.chat-users .contact-list li.offline {
    background-color: #EDE0E0;
}
.chat-users .contact-list li a img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 28px;
    height: 28px;
}
.chat-users .contact-list li .msg-count {
    padding: 3px 5px;
    position: absolute;
    right: 10px;
    top: 12px;
}
.taskDesc i {
    margin: 1px 5px 0;
}
.taskStatus, .taskOptions {
    text-align: center !important;
}
.taskStatus .in-progress {
    color: #64909E;
}
.taskStatus .pending {
    color: #AC6363;
}
.taskStatus .done {
    color: #75B468;
}
.activity-list {
    list-style: none outside none;
    margin: 0;
}
.activity-list li {
    border-bottom: 1px solid #EEEEEE;
    display: block;
}
.activity-list li:last-child {
    border-bottom: medium none;
}
.activity-list li a {
    display: block;
    padding: 7px 10px;
}
.activity-list li a:hover {
    background-color: #FBFBFB;
}
.activity-list li a span {
    color: #AAAAAA;
    font-size: 11px;
    font-style: italic;
}
.activity-list li a i {
    margin-right: 10px;
    opacity: 0.6;
    vertical-align: middle;
}
.new-update {
    border-top: 1px solid #DDDDDD;
    padding: 10px 12px;
}
.new-update:first-child {
    border-top: medium none;
}
.new-update span {
    display:block;
}
.new-update i {
    float: left;
    margin-top: 3px;
    margin-right: 13px;
}
.new-update .update-date {
    color: #BBBBBB;
    float: right;
    margin: 4px -2px 0 0;
    text-align: center;
    width: 30px;
}
.new-update .update-date .update-day {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -4px;
}
.update-done, .update-alert, .update-notice {
    display: block;
    float: left;
    max-width: 76%;
}
/* Tables */
tr:hover{ background:#f6f6f6;}
span.icon .checker {
    margin-top: -5px;
    margin-right: 0;
}
.dataTables_length {
    color: #878787;
    margin: 7px 5px 0;
    position: relative;
    left:5px; width:50%;
    top: -2px;
}
.dataTables_length div {
    vertical-align: middle;
}
.dataTables_paginate {
    line-height: 16px;
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
}
.dataTables_paginate {
    line-height: 16px;
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
}
.dataTables_paginate .ui-button, .pagination.alternate li a {
    font-size: 12px;
    padding: 4px 10px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd #dddddd #cccccc; /* for IE < 9 */
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    line-height: 16px;
    background: #f5f5f5;
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
}
.dataTables_paginate .ui-button:hover, .pagination.alternate li a:hover {
    background: #e8e8e8;
    color: #222222;
    text-shadow: 0 1px 0 #ffffff;
    cursor: pointer;
}
.dataTables_paginate .first {
    border-radius: 4px 0 0 4px;
}
.dataTables_paginate .last {
    border-radius: 0 4px 4px 0;
}
.dataTables_paginate .ui-state-disabled, .fc-state-disabled, .pagination.alternate li.disabled a {
    color: #AAAAAA !important;
}
.dataTables_paginate .ui-state-disabled:hover, .fc-state-disabled:hover, .pagination.alternate li.disabled a:hover {
    background: #f5f5f5;
    cursor: default !important;
}
.dataTables_paginate span .ui-state-disabled, .pagination.alternate li.active a {
    background: #41BEDD !important;
    color: #ffffff !important;
    cursor: default !important;
}
div.dataTables_wrapper .ui-widget-header {
    border-right: medium none;
    border-top: 1px solid #D5D5D5;
    font-weight: normal;
    margin-top: -1px;
}
.dataTables_wrapper .ui-toolbar {
    padding: 5px;
}
.dataTables_filter {
    color: #878787;
    font-size: 11px;
    right: 0; top:37px;
    margin: 4px 8px 2px 10px;
    position: absolute;
    text-align: left;
}
.dataTables_filter input {
    margin-bottom: 0;
}
.table th {
    height: auto;
    font-size: 10px;
    padding: 5px 10px 2px;
    border-bottom: 0;
    text-align: center;
    color: #666666;
}
.table.with-check tr th:first-child, .table.with-check tr td:first-child {
    width: 10px;
}
.table.with-check tr th:first-child i {
    margin-top: -2px;
    opacity: 0.6;
}
.table.with-check tr td:first-child .checker {
    margin-right: 0;
}
.table tr.checked td {
    background-color: #FFFFE3 !important;
}
/* Misc */
.nopadding {
    padding: 0 !important;
}
.nopadding .table {
    margin-bottom: 0;
}
.nopadding .table-bordered {
    border: 0;
}
.thumbnails {
    margin-left: -2.12766% !important;
}
.thumbnails [class*="span"] {
    margin-left: 2.12766% !important;
    position: relative;
}
.thumbnails .actions {
    width: auto;
    height: 16px;
    background-color:#000;
    padding: 4px 8px 8px 8px;
    position: absolute;
    bottom:0%;
    left:50%;
    margin-top: -13px;
    margin-left: -24px;
    opacity: 0; top:10%; transition:1s ease-out;
    -moz-transition: opacity 0.3s ease-in-out;
}
.thumbnails li:hover .actions,.thumbnails li:hover .actions a:hover{
    opacity: 1; color:#fff; top:50%; transition:1s ease-out;
}
.line {
    background: url("../img/line.png") repeat-x scroll 0 0 transparent;
    display: block;
    height: 8px;
}
.modal {
    z-index: 99999 !important;
}
.modal-backdrop {
    z-index: 999 !important;
}
.modal-header {
    height: auto;
    padding: 8px 15px 5px;
}
.modal-header h3 {
    font-size: 12px;
    text-shadow: 0 1px 0 #ffffff;
}
.notify-ui ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.notify-ui li {
    background: #eeeeee;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #dddddd;
}
.notify-ui li:hover {
    cursor: pointer;
    color: #777777;
}
/* Forms */
form {
    margin-bottom: 0;
}
.form-horizontal .control-group {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0;
}
.form-horizontal .control-group:last-child {
    border-bottom: 0;
}
.form-horizontal .control-label {
    padding-top: 15px;
    width: 180px;
}
.form-horizontal .controls {
    margin-left: 200px;
    padding: 10px 0;
}
.form-horizontal input[type=text], .form-horizontal input[type=password], .form-horizontal textarea {
}
.row-fluid .span20 {
    width:97.8%
}
.form-horizontal .form-actions {
    margin-top: 0;
    margin-bottom: 0;
}
.help-block, .help-inline {
    color: #999999;
}
/***********light-box***************/
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(overlay.png) repeat #000;
    text-align:center;
    z-index:9999;
}
#lightbox p {
    position:absolute;
    top:10px;
    right:10px;
    width:22px;
    height:22px;
    cursor:pointer;
    z-index:22;
    border:1px solid #fff;
    border-radius:100%;
    padding:2px;
    text-align:center;
    transition:0.5s;
}
#lightbox p:hover {
    transform:rotate(180deg)
}
#imgbox {
    position:absolute; /* keeps the lightbox window in the current viewport */
    left:0;
    top:0px;
    width:100%;
    height:100%;
    background:url(overlay.png) repeat #000;
    text-align:center;
    z-index:21;
}
#imgbox img {
    margin-top:100px;
    border:10px solid #fff;
}
/***********Error Page******************/
.error_ex{ text-align:center;}
.error_ex h1{ font-size:140px; font-weight:bold; padding:50px 0; color:#28B779}

#sidebar  .content {
    padding:10px;
    position: relative; color:#939DA8;
}
#sidebar .percent {
    font-weight: 700;
    position: absolute;
    right: 10px;
    top:25px;
}
#sidebar .progress {
    margin-bottom: 2px;
    margin-top: 2px;
    width: 70%;
}
#sidebar .progress-mini {
    height: 6px;
}
#sidebar .stat {
    font-size: 11px;
}
/***********light-box-end***************/

.btn-icon-pg ul {
    margin:0px;
    padding:0px;
}
.btn-icon-pg ul li {
    margin:5px;
    padding:5px;
    list-style:none;
    display:inline-block;
    border:1px solid #dadada;
    min-width:187px;
    cursor:pointer
}
.btn-icon-pg ul li:hover i {
    transition:0.3s;
    -moz-transition:0.3s;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    margin-left:8px;
}
.accordion {
    margin-top:16px;
}
.fix_hgt {
    height:115px;
    overflow-x:auto;
}
.input-append .add-on:last-child, .input-append .btn:last-child {
    border-radius:0px;
    padding:6px 5px 2px;
}
.input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
    width:none;
}
.input-append input, .input-append select, .input-prepend span, .input-prepend input {
    border-radius:0px!important;
}
/***********pop-over********************/
.bs-docs-tooltip-examples {
    list-style: none outside none;
    margin: 0 0 10px;
    position:relative;
    text-align: center;
}
.bs-docs-tooltip-examples li {
    display: inline;
    padding: 0 10px;
    list-style:none;
    position:relative;
}
/* Responsive design */
@media (max-width: 480px) {
    #header h1 {
        top: 10px; left:5px;
        margin: 3px auto;
    }
    #user-nav {
        position: relative;
        left: auto;
        right: auto;
        width: 100%;
        margin-top: -31px;
        border-top:1px solid #363E48;
        margin-bottom: 0px;
        background:#2E363F;
        float:right;
    }
    .navbar > .nav {
        float: none;
    }
    #my_menu {
        display:none;
    }
    #my_menu_input {
        display:block;
    }
    #user-nav > ul {
        right: 0px;
        margin-left:20%!important;
        margin-top:0px;
        width:100%;
        background:#000;
        position: relative;
    }
    #user-nav > ul > li {
        padding:0px 0px;
    }
    #user-nav > ul > li > a {
        padding:5px 10px;
    }
    #sidebar .content{ display:none;}
    #content {
        margin-left: 0 !important;
        border-top-left-radius: 0;
        margin-top:0px;
    }
    #content-header {
        margin-top: 0;
        text-align: center;
    }
    #content-header h1, #content-header .btn-group {
        float: none;
    }
    #content-header h1 {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-top: 0;
        padding-top: 15px;
        width: 100%;
    }
    #content-header .btn-group {
        margin-top: 70px;
        margin-bottom: 0;
        margin-right: 0;
        left: 30%;
    }
    #sidebar {
        float: none;
        width: 100% !important;
        display:block;
        position:relative;
        top:0px;
    }
    #sidebar > ul {
        margin:0px;
        padding:0px;
        width:100%;
        display:block;
        z-index:999;
        position:relative
    }
    #sidebar > ul > li {
        list-style-type:none;
        display:block;
        border-top:1px solid #41BEDD;
        float:none !important;
        margin:0px;
        position:relative;
        padding:2px 10px;
        cursor:pointer
    }
    #sidebar > ul > li:hover ul {
        display:none;
    }
    #sidebar > ul > li:hover {
        background-color:#27a9e3;
    }
    #sidebar > ul > li:hover a {
        background:none;
    }
    #sidebar > ul li ul {
        margin:0px;
        padding:0px;
        top:35px; left:0px;
        z-index:999;
        display:none;
        position:absolute;
        width:100%;
        min-width:100%;
        border-radius:none;
    }
    #sidebar > ul li ul li {
        list-style-type:none;
        margin:0px;
        font-size:12px;
        line-height:30px;
    }
    #sidebar > ul li ul li a {
        display:block;
        padding:5px 10px;
        color:#fff;
        text-decoration:none;
        font-weight:bold;
    }
    #sidebar > ul li ul li:hover a {
        border-radius:0px;
    }
    #sidebar > ul li span {
        cursor:pointer;
        margin:0px 2px 0 5px;
        font-weight:bold;
        color:#fff;
        font-size:12px;
    }
    #sidebar > ul li a i {
        background-image: url("../img/glyphicons-halflings-white.png");
        margin-top:4px;
        vertical-align: top;
    }
    #sidebar > a {
        padding: 9px 20px 9px 15px;
        display: block !important;
        color: #eeeeee;
        float:none !important;
        font-size:12px;
        font-weight:bold
    }
    #sidebar > ul > li > a {
        padding:5px;
        display:block;
        color: #AAAAAA;
    }
    .widget-title .buttons > .btn {
        width: 11px;
        white-space: nowrap;
        overflow: hidden;
    }
    .form-horizontal .control-label {
        padding-left: 30px;
    }
    .form-horizontal .controls {
        margin-left: 0;
        padding: 10px 30px;
    }
    .form-actions {
        text-align: center;
    }
    .panel-right2 {
        width: 100%;
        background-color: #fff;
        border-right: 1px solid #dddddd;
        position: relative;
        left: 0;
        overflow:auto;
        top:0px;
        height:87%;
        width:100%;
    }
    .panel-left2 {
        margin-left:0px;
    }
    .dataTables_paginate .ui-button, .pagination.alternate li a {
        padding:4px 4px!important;
    }
    .table th {
        padding: 5px 4px 2px;
    }
}
@media (min-width: 481px) and (max-width: 970px) {
    body {
        background:#49CCED
    }
    #header h1 {
        top:10px; left:35px;
    }
    #search {
        top:5px
    }
    #my_menu {
        display:none;
    }
    #my_menu_input {
        display:block;
    }
    #content {
        margin-top:0px;
    }
    #sidebar > ul > li {
        float:none;
    }
    #sidebar > ul > li:hover ul {
        display:block;
    }
    #sidebar, #sidebar > ul {
        width: 43px;
        display: block;
        position: absolute;
        height:100%;
        z-index:1;
    }
    #sidebar > ul ul {
        display: none;
        position: absolute;
        left:43px;
        top: 0;
        min-width: 150px;
        list-style: none;
    }
    #sidebar > ul ul li a {
        white-space: nowrap;
        padding: 10px 25px;
    }
    #sidebar > ul ul:before {
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        content: "";
        display: inline-block;
        left: -6px;
        position: absolute;
        top: 11px;
    }
    #sidebar > ul ul:after {
        content: "";
        display: inline-block;
        left: -5px;
        position: absolute;
        top: 12px;
    }
    #sidebar > a {
        display: none !important;
    }
    #sidebar > ul > li.open.submenu > a {
        border-bottom: none !important;
    }
    #sidebar > ul > li > a > span {
        display: none;
    }
    #content {
        margin-left: 43px;
    }
    #sidebar .content{ display:none;}
}
@media (max-width: 600px) {
    .widget-title .buttons {
        float: left;
    }
    .panel-left {
        margin-right: 0;
    }
    .panel-right {
        border-top: 1px solid #DDDDDD;
        border-left: none;
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        width: auto;
    }
    #sidebar .content{ display:none;}
}
@media (max-width: 767px) {
    body {
        padding: 0 !important;
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    #search {
        display: none;
    }
    #user-nav > ul > li > a > span.text {
        display: none;
    }
    #sidebar .content{ display:none;}
}
@media (min-width: 768px) and (max-width: 979px) {
    [class*="span"], .row-fluid [class*="span"] {
        display: block;
        float: none;
        margin-left: 0;
        width: auto;
    }
}
@media (max-width: 979px) {
    div.dataTables_wrapper .ui-widget-header {
        height: 68px;
    }
    .dataTables_filter{ position:relative; top:0px;}
    .dataTables_length{ width:100%; text-align:center;}
    .dataTables_filter, .dataTables_paginate {
        text-align: center;
    }
    #sidebar .content{ display:none;}
}



/****** font Awesome ****/
/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {

    font-family: 'FontAwesome';

    src: url(../fonts/fontawesome-webfont.eot?v=4.1.0);

    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff?v=4.1.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.1.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular) format("svg");

    font-weight: 400;

    font-style: normal

}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}
.fa-2x {
    font-size: 2em
}
.fa-3x {
    font-size: 3em
}
.fa-4x {
    font-size: 4em
}
.fa-5x {
    font-size: 5em
}
.fa-fw {
    width: 1.28571429em;
    text-align: center
}
.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}
.fa-ul>li {
    position: relative
}
.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center
}
.fa-li.fa-lg {
    left: -1.85714286em
}
.fa-border {
    padding: .2em .25em .15em;
    border: solid .08em #eee;
    border-radius: .1em
}
.fa-pull-left {
    float: left
}
.fa-pull-right {
    float: right
}
.fa.fa-pull-left {
    margin-right: .3em
}
.fa.fa-pull-right {
    margin-left: .3em
}
.pull-right {
    float: right
}
.pull-left {
    float: left
}
.fa.pull-left {
    margin-right: .3em
}
.fa.pull-right {
    margin-left: .3em
}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}
.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(359deg);
        transform:rotate(359deg)
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(359deg);
        transform:rotate(359deg)
    }
}
.fa-rotate-90 {
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}
.fa-rotate-180 {
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.fa-rotate-270 {
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}
.fa-flip-horizontal {
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}
.fa-flip-vertical {
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}
:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {
    filter: none
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}
.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}
.fa-stack-1x {
    line-height: inherit
}
.fa-stack-2x {
    font-size: 2em
}
.fa-inverse {
    color: #fff
}
.fa-glass:before {
    content: "\f000"
}
.fa-music:before {
    content: "\f001"
}
.fa-search:before {
    content: "\f002"
}
.fa-envelope-o:before {
    content: "\f003"
}
.fa-heart:before {
    content: "\f004"
}
.fa-star:before {
    content: "\f005"
}
.fa-star-o:before {
    content: "\f006"
}
.fa-user:before {
    content: "\f007"
}
.fa-film:before {
    content: "\f008"
}
.fa-th-large:before {
    content: "\f009"
}
.fa-th:before {
    content: "\f00a"
}
.fa-th-list:before {
    content: "\f00b"
}
.fa-check:before {
    content: "\f00c"
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d"
}
.fa-search-plus:before {
    content: "\f00e"
}
.fa-search-minus:before {
    content: "\f010"
}
.fa-power-off:before {
    content: "\f011"
}
.fa-signal:before {
    content: "\f012"
}
.fa-gear:before, .fa-cog:before {
    content: "\f013"
}
.fa-trash-o:before {
    content: "\f014"
}
.fa-home:before {
    content: "\f015"
}
.fa-file-o:before {
    content: "\f016"
}
.fa-clock-o:before {
    content: "\f017"
}
.fa-road:before {
    content: "\f018"
}
.fa-download:before {
    content: "\f019"
}
.fa-arrow-circle-o-down:before {
    content: "\f01a"
}
.fa-arrow-circle-o-up:before {
    content: "\f01b"
}
.fa-inbox:before {
    content: "\f01c"
}
.fa-play-circle-o:before {
    content: "\f01d"
}
.fa-rotate-right:before, .fa-repeat:before {
    content: "\f01e"
}
.fa-refresh:before {
    content: "\f021"
}
.fa-list-alt:before {
    content: "\f022"
}
.fa-lock:before {
    content: "\f023"
}
.fa-flag:before {
    content: "\f024"
}
.fa-headphones:before {
    content: "\f025"
}
.fa-volume-off:before {
    content: "\f026"
}
.fa-volume-down:before {
    content: "\f027"
}
.fa-volume-up:before {
    content: "\f028"
}
.fa-qrcode:before {
    content: "\f029"
}
.fa-barcode:before {
    content: "\f02a"
}
.fa-tag:before {
    content: "\f02b"
}
.fa-tags:before {
    content: "\f02c"
}
.fa-book:before {
    content: "\f02d"
}
.fa-bookmark:before {
    content: "\f02e"
}
.fa-print:before {
    content: "\f02f"
}
.fa-camera:before {
    content: "\f030"
}
.fa-font:before {
    content: "\f031"
}
.fa-bold:before {
    content: "\f032"
}
.fa-italic:before {
    content: "\f033"
}
.fa-text-height:before {
    content: "\f034"
}
.fa-text-width:before {
    content: "\f035"
}
.fa-align-left:before {
    content: "\f036"
}
.fa-align-center:before {
    content: "\f037"
}
.fa-align-right:before {
    content: "\f038"
}
.fa-align-justify:before {
    content: "\f039"
}
.fa-list:before {
    content: "\f03a"
}
.fa-dedent:before, .fa-outdent:before {
    content: "\f03b"
}
.fa-indent:before {
    content: "\f03c"
}
.fa-video-camera:before {
    content: "\f03d"
}
.fa-photo:before, .fa-image:before, .fa-picture-o:before {
    content: "\f03e"
}
.fa-pencil:before {
    content: "\f040"
}
.fa-map-marker:before {
    content: "\f041"
}
.fa-adjust:before {
    content: "\f042"
}
.fa-tint:before {
    content: "\f043"
}
.fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044"
}
.fa-share-square-o:before {
    content: "\f045"
}
.fa-check-square-o:before {
    content: "\f046"
}
.fa-arrows:before {
    content: "\f047"
}
.fa-step-backward:before {
    content: "\f048"
}
.fa-fast-backward:before {
    content: "\f049"
}
.fa-backward:before {
    content: "\f04a"
}
.fa-play:before {
    content: "\f04b"
}
.fa-pause:before {
    content: "\f04c"
}
.fa-stop:before {
    content: "\f04d"
}
.fa-forward:before {
    content: "\f04e"
}
.fa-fast-forward:before {
    content: "\f050"
}
.fa-step-forward:before {
    content: "\f051"
}
.fa-eject:before {
    content: "\f052"
}
.fa-chevron-left:before {
    content: "\f053"
}
.fa-chevron-right:before {
    content: "\f054"
}
.fa-plus-circle:before {
    content: "\f055"
}
.fa-minus-circle:before {
    content: "\f056"
}
.fa-times-circle:before {
    content: "\f057"
}
.fa-check-circle:before {
    content: "\f058"
}
.fa-question-circle:before {
    content: "\f059"
}
.fa-info-circle:before {
    content: "\f05a"
}
.fa-crosshairs:before {
    content: "\f05b"
}
.fa-times-circle-o:before {
    content: "\f05c"
}
.fa-check-circle-o:before {
    content: "\f05d"
}
.fa-ban:before {
    content: "\f05e"
}
.fa-arrow-left:before {
    content: "\f060"
}
.fa-arrow-right:before {
    content: "\f061"
}
.fa-arrow-up:before {
    content: "\f062"
}
.fa-arrow-down:before {
    content: "\f063"
}
.fa-mail-forward:before, .fa-share:before {
    content: "\f064"
}
.fa-expand:before {
    content: "\f065"
}
.fa-compress:before {
    content: "\f066"
}
.fa-plus:before {
    content: "\f067"
}
.fa-minus:before {
    content: "\f068"
}
.fa-asterisk:before {
    content: "\f069"
}
.fa-exclamation-circle:before {
    content: "\f06a"
}
.fa-gift:before {
    content: "\f06b"
}
.fa-leaf:before {
    content: "\f06c"
}
.fa-fire:before {
    content: "\f06d"
}
.fa-eye:before {
    content: "\f06e"
}
.fa-eye-slash:before {
    content: "\f070"
}
.fa-warning:before, .fa-exclamation-triangle:before {
    content: "\f071"
}
.fa-plane:before {
    content: "\f072"
}
.fa-calendar:before {
    content: "\f073"
}
.fa-random:before {
    content: "\f074"
}
.fa-comment:before {
    content: "\f075"
}
.fa-magnet:before {
    content: "\f076"
}
.fa-chevron-up:before {
    content: "\f077"
}
.fa-chevron-down:before {
    content: "\f078"
}
.fa-retweet:before {
    content: "\f079"
}
.fa-shopping-cart:before {
    content: "\f07a"
}
.fa-folder:before {
    content: "\f07b"
}
.fa-folder-open:before {
    content: "\f07c"
}
.fa-arrows-v:before {
    content: "\f07d"
}
.fa-arrows-h:before {
    content: "\f07e"
}
.fa-bar-chart-o:before, .fa-bar-chart:before {
    content: "\f080"
}
.fa-twitter-square:before {
    content: "\f081"
}
.fa-facebook-square:before {
    content: "\f082"
}
.fa-camera-retro:before {
    content: "\f083"
}
.fa-key:before {
    content: "\f084"
}
.fa-gears:before, .fa-cogs:before {
    content: "\f085"
}
.fa-comments:before {
    content: "\f086"
}
.fa-thumbs-o-up:before {
    content: "\f087"
}
.fa-thumbs-o-down:before {
    content: "\f088"
}
.fa-star-half:before {
    content: "\f089"
}
.fa-heart-o:before {
    content: "\f08a"
}
.fa-sign-out:before {
    content: "\f08b"
}
.fa-linkedin-square:before {
    content: "\f08c"
}
.fa-thumb-tack:before {
    content: "\f08d"
}
.fa-external-link:before {
    content: "\f08e"
}
.fa-sign-in:before {
    content: "\f090"
}
.fa-trophy:before {
    content: "\f091"
}
.fa-github-square:before {
    content: "\f092"
}
.fa-upload:before {
    content: "\f093"
}
.fa-lemon-o:before {
    content: "\f094"
}
.fa-phone:before {
    content: "\f095"
}
.fa-square-o:before {
    content: "\f096"
}
.fa-bookmark-o:before {
    content: "\f097"
}
.fa-phone-square:before {
    content: "\f098"
}
.fa-twitter:before {
    content: "\f099"
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a"
}
.fa-github:before {
    content: "\f09b"
}
.fa-unlock:before {
    content: "\f09c"
}
.fa-credit-card:before {
    content: "\f09d"
}
.fa-feed:before, .fa-rss:before {
    content: "\f09e"
}
.fa-hdd-o:before {
    content: "\f0a0"
}
.fa-bullhorn:before {
    content: "\f0a1"
}
.fa-bell:before {
    content: "\f0f3"
}
.fa-certificate:before {
    content: "\f0a3"
}
.fa-hand-o-right:before {
    content: "\f0a4"
}
.fa-hand-o-left:before {
    content: "\f0a5"
}
.fa-hand-o-up:before {
    content: "\f0a6"
}
.fa-hand-o-down:before {
    content: "\f0a7"
}
.fa-arrow-circle-left:before {
    content: "\f0a8"
}
.fa-arrow-circle-right:before {
    content: "\f0a9"
}
.fa-arrow-circle-up:before {
    content: "\f0aa"
}
.fa-arrow-circle-down:before {
    content: "\f0ab"
}
.fa-globe:before {
    content: "\f0ac"
}
.fa-wrench:before {
    content: "\f0ad"
}
.fa-tasks:before {
    content: "\f0ae"
}
.fa-filter:before {
    content: "\f0b0"
}
.fa-briefcase:before {
    content: "\f0b1"
}
.fa-arrows-alt:before {
    content: "\f0b2"
}
.fa-group:before, .fa-users:before {
    content: "\f0c0"
}
.fa-chain:before, .fa-link:before {
    content: "\f0c1"
}
.fa-cloud:before {
    content: "\f0c2"
}
.fa-flask:before {
    content: "\f0c3"
}
.fa-cut:before, .fa-scissors:before {
    content: "\f0c4"
}
.fa-copy:before, .fa-files-o:before {
    content: "\f0c5"
}
.fa-paperclip:before {
    content: "\f0c6"
}
.fa-save:before, .fa-floppy-o:before {
    content: "\f0c7"
}
.fa-square:before {
    content: "\f0c8"
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9"
}
.fa-list-ul:before {
    content: "\f0ca"
}
.fa-list-ol:before {
    content: "\f0cb"
}
.fa-strikethrough:before {
    content: "\f0cc"
}
.fa-underline:before {
    content: "\f0cd"
}
.fa-table:before {
    content: "\f0ce"
}
.fa-magic:before {
    content: "\f0d0"
}
.fa-truck:before {
    content: "\f0d1"
}
.fa-pinterest:before {
    content: "\f0d2"
}
.fa-pinterest-square:before {
    content: "\f0d3"
}
.fa-google-plus-square:before {
    content: "\f0d4"
}
.fa-google-plus:before {
    content: "\f0d5"
}
.fa-money:before {
    content: "\f0d6"
}
.fa-caret-down:before {
    content: "\f0d7"
}
.fa-caret-up:before {
    content: "\f0d8"
}
.fa-caret-left:before {
    content: "\f0d9"
}
.fa-caret-right:before {
    content: "\f0da"
}
.fa-columns:before {
    content: "\f0db"
}
.fa-unsorted:before, .fa-sort:before {
    content: "\f0dc"
}
.fa-sort-down:before, .fa-sort-desc:before {
    content: "\f0dd"
}
.fa-sort-up:before, .fa-sort-asc:before {
    content: "\f0de"
}
.fa-envelope:before {
    content: "\f0e0"
}
.fa-linkedin:before {
    content: "\f0e1"
}
.fa-rotate-left:before, .fa-undo:before {
    content: "\f0e2"
}
.fa-legal:before, .fa-gavel:before {
    content: "\f0e3"
}
.fa-dashboard:before, .fa-tachometer:before {
    content: "\f0e4"
}
.fa-comment-o:before {
    content: "\f0e5"
}
.fa-comments-o:before {
    content: "\f0e6"
}
.fa-flash:before, .fa-bolt:before {
    content: "\f0e7"
}
.fa-sitemap:before {
    content: "\f0e8"
}
.fa-umbrella:before {
    content: "\f0e9"
}
.fa-paste:before, .fa-clipboard:before {
    content: "\f0ea"
}
.fa-lightbulb-o:before {
    content: "\f0eb"
}
.fa-exchange:before {
    content: "\f0ec"
}
.fa-cloud-download:before {
    content: "\f0ed"
}
.fa-cloud-upload:before {
    content: "\f0ee"
}
.fa-user-md:before {
    content: "\f0f0"
}
.fa-stethoscope:before {
    content: "\f0f1"
}
.fa-suitcase:before {
    content: "\f0f2"
}
.fa-bell-o:before {
    content: "\f0a2"
}
.fa-coffee:before {
    content: "\f0f4"
}
.fa-cutlery:before {
    content: "\f0f5"
}
.fa-file-text-o:before {
    content: "\f0f6"
}
.fa-building-o:before {
    content: "\f0f7"
}
.fa-hospital-o:before {
    content: "\f0f8"
}
.fa-ambulance:before {
    content: "\f0f9"
}
.fa-medkit:before {
    content: "\f0fa"
}
.fa-fighter-jet:before {
    content: "\f0fb"
}
.fa-beer:before {
    content: "\f0fc"
}
.fa-h-square:before {
    content: "\f0fd"
}
.fa-plus-square:before {
    content: "\f0fe"
}
.fa-angle-double-left:before {
    content: "\f100"
}
.fa-angle-double-right:before {
    content: "\f101"
}
.fa-angle-double-up:before {
    content: "\f102"
}
.fa-angle-double-down:before {
    content: "\f103"
}
.fa-angle-left:before {
    content: "\f104"
}
.fa-angle-right:before {
    content: "\f105"
}
.fa-angle-up:before {
    content: "\f106"
}
.fa-angle-down:before {
    content: "\f107"
}
.fa-desktop:before {
    content: "\f108"
}
.fa-laptop:before {
    content: "\f109"
}
.fa-tablet:before {
    content: "\f10a"
}
.fa-mobile-phone:before, .fa-mobile:before {
    content: "\f10b"
}
.fa-circle-o:before {
    content: "\f10c"
}
.fa-quote-left:before {
    content: "\f10d"
}
.fa-quote-right:before {
    content: "\f10e"
}
.fa-spinner:before {
    content: "\f110"
}
.fa-circle:before {
    content: "\f111"
}
.fa-mail-reply:before, .fa-reply:before {
    content: "\f112"
}
.fa-github-alt:before {
    content: "\f113"
}
.fa-folder-o:before {
    content: "\f114"
}
.fa-folder-open-o:before {
    content: "\f115"
}
.fa-smile-o:before {
    content: "\f118"
}
.fa-frown-o:before {
    content: "\f119"
}
.fa-meh-o:before {
    content: "\f11a"
}
.fa-gamepad:before {
    content: "\f11b"
}
.fa-keyboard-o:before {
    content: "\f11c"
}
.fa-flag-o:before {
    content: "\f11d"
}
.fa-flag-checkered:before {
    content: "\f11e"
}
.fa-terminal:before {
    content: "\f120"
}
.fa-code:before {
    content: "\f121"
}
.fa-mail-reply-all:before, .fa-reply-all:before {
    content: "\f122"
}
.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
    content: "\f123"
}
.fa-location-arrow:before {
    content: "\f124"
}
.fa-crop:before {
    content: "\f125"
}
.fa-code-fork:before {
    content: "\f126"
}
.fa-unlink:before, .fa-chain-broken:before {
    content: "\f127"
}
.fa-question:before {
    content: "\f128"
}
.fa-info:before {
    content: "\f129"
}
.fa-exclamation:before {
    content: "\f12a"
}
.fa-superscript:before {
    content: "\f12b"
}
.fa-subscript:before {
    content: "\f12c"
}
.fa-eraser:before {
    content: "\f12d"
}
.fa-puzzle-piece:before {
    content: "\f12e"
}
.fa-microphone:before {
    content: "\f130"
}
.fa-microphone-slash:before {
    content: "\f131"
}
.fa-shield:before {
    content: "\f132"
}
.fa-calendar-o:before {
    content: "\f133"
}
.fa-fire-extinguisher:before {
    content: "\f134"
}
.fa-rocket:before {
    content: "\f135"
}
.fa-maxcdn:before {
    content: "\f136"
}
.fa-chevron-circle-left:before {
    content: "\f137"
}
.fa-chevron-circle-right:before {
    content: "\f138"
}
.fa-chevron-circle-up:before {
    content: "\f139"
}
.fa-chevron-circle-down:before {
    content: "\f13a"
}
.fa-html5:before {
    content: "\f13b"
}
.fa-css3:before {
    content: "\f13c"
}
.fa-anchor:before {
    content: "\f13d"
}
.fa-unlock-alt:before {
    content: "\f13e"
}
.fa-bullseye:before {
    content: "\f140"
}
.fa-ellipsis-h:before {
    content: "\f141"
}
.fa-ellipsis-v:before {
    content: "\f142"
}
.fa-rss-square:before {
    content: "\f143"
}
.fa-play-circle:before {
    content: "\f144"
}
.fa-ticket:before {
    content: "\f145"
}
.fa-minus-square:before {
    content: "\f146"
}
.fa-minus-square-o:before {
    content: "\f147"
}
.fa-level-up:before {
    content: "\f148"
}
.fa-level-down:before {
    content: "\f149"
}
.fa-check-square:before {
    content: "\f14a"
}
.fa-pencil-square:before {
    content: "\f14b"
}
.fa-external-link-square:before {
    content: "\f14c"
}
.fa-share-square:before {
    content: "\f14d"
}
.fa-compass:before {
    content: "\f14e"
}
.fa-toggle-down:before, .fa-caret-square-o-down:before {
    content: "\f150"
}
.fa-toggle-up:before, .fa-caret-square-o-up:before {
    content: "\f151"
}
.fa-toggle-right:before, .fa-caret-square-o-right:before {
    content: "\f152"
}
.fa-euro:before, .fa-eur:before {
    content: "\f153"
}
.fa-gbp:before {
    content: "\f154"
}
.fa-dollar:before, .fa-usd:before {
    content: "\f155"
}
.fa-rupee:before, .fa-inr:before {
    content: "\f156"
}
.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
    content: "\f157"
}
.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
    content: "\f158"
}
.fa-won:before, .fa-krw:before {
    content: "\f159"
}
.fa-bitcoin:before, .fa-btc:before {
    content: "\f15a"
}
.fa-file:before {
    content: "\f15b"
}
.fa-file-text:before {
    content: "\f15c"
}
.fa-sort-alpha-asc:before {
    content: "\f15d"
}
.fa-sort-alpha-desc:before {
    content: "\f15e"
}
.fa-sort-amount-asc:before {
    content: "\f160"
}
.fa-sort-amount-desc:before {
    content: "\f161"
}
.fa-sort-numeric-asc:before {
    content: "\f162"
}
.fa-sort-numeric-desc:before {
    content: "\f163"
}
.fa-thumbs-up:before {
    content: "\f164"
}
.fa-thumbs-down:before {
    content: "\f165"
}
.fa-youtube-square:before {
    content: "\f166"
}
.fa-youtube:before {
    content: "\f167"
}
.fa-xing:before {
    content: "\f168"
}
.fa-xing-square:before {
    content: "\f169"
}
.fa-youtube-play:before {
    content: "\f16a"
}
.fa-dropbox:before {
    content: "\f16b"
}
.fa-stack-overflow:before {
    content: "\f16c"
}
.fa-instagram:before {
    content: "\f16d"
}
.fa-flickr:before {
    content: "\f16e"
}
.fa-adn:before {
    content: "\f170"
}
.fa-bitbucket:before {
    content: "\f171"
}
.fa-bitbucket-square:before {
    content: "\f172"
}
.fa-tumblr:before {
    content: "\f173"
}
.fa-tumblr-square:before {
    content: "\f174"
}
.fa-long-arrow-down:before {
    content: "\f175"
}
.fa-long-arrow-up:before {
    content: "\f176"
}
.fa-long-arrow-left:before {
    content: "\f177"
}
.fa-long-arrow-right:before {
    content: "\f178"
}
.fa-apple:before {
    content: "\f179"
}
.fa-windows:before {
    content: "\f17a"
}
.fa-android:before {
    content: "\f17b"
}
.fa-linux:before {
    content: "\f17c"
}
.fa-dribbble:before {
    content: "\f17d"
}
.fa-skype:before {
    content: "\f17e"
}
.fa-foursquare:before {
    content: "\f180"
}
.fa-trello:before {
    content: "\f181"
}
.fa-female:before {
    content: "\f182"
}
.fa-male:before {
    content: "\f183"
}
.fa-gittip:before, .fa-gratipay:before {
    content: "\f184"
}
.fa-sun-o:before {
    content: "\f185"
}
.fa-moon-o:before {
    content: "\f186"
}
.fa-archive:before {
    content: "\f187"
}
.fa-bug:before {
    content: "\f188"
}
.fa-vk:before {
    content: "\f189"
}
.fa-weibo:before {
    content: "\f18a"
}
.fa-renren:before {
    content: "\f18b"
}
.fa-pagelines:before {
    content: "\f18c"
}
.fa-stack-exchange:before {
    content: "\f18d"
}
.fa-arrow-circle-o-right:before {
    content: "\f18e"
}
.fa-arrow-circle-o-left:before {
    content: "\f190"
}
.fa-toggle-left:before, .fa-caret-square-o-left:before {
    content: "\f191"
}
.fa-dot-circle-o:before {
    content: "\f192"
}
.fa-wheelchair:before {
    content: "\f193"
}
.fa-vimeo-square:before {
    content: "\f194"
}
.fa-turkish-lira:before, .fa-try:before {
    content: "\f195"
}
.fa-plus-square-o:before {
    content: "\f196"
}
.fa-space-shuttle:before {
    content: "\f197"
}
.fa-slack:before {
    content: "\f198"
}
.fa-envelope-square:before {
    content: "\f199"
}
.fa-wordpress:before {
    content: "\f19a"
}
.fa-openid:before {
    content: "\f19b"
}
.fa-institution:before, .fa-bank:before, .fa-university:before {
    content: "\f19c"
}
.fa-mortar-board:before, .fa-graduation-cap:before {
    content: "\f19d"
}
.fa-yahoo:before {
    content: "\f19e"
}
.fa-google:before {
    content: "\f1a0"
}
.fa-reddit:before {
    content: "\f1a1"
}
.fa-reddit-square:before {
    content: "\f1a2"
}
.fa-stumbleupon-circle:before {
    content: "\f1a3"
}
.fa-stumbleupon:before {
    content: "\f1a4"
}
.fa-delicious:before {
    content: "\f1a5"
}
.fa-digg:before {
    content: "\f1a6"
}
.fa-pied-piper:before {
    content: "\f1a7"
}
.fa-pied-piper-alt:before {
    content: "\f1a8"
}
.fa-drupal:before {
    content: "\f1a9"
}
.fa-joomla:before {
    content: "\f1aa"
}
.fa-language:before {
    content: "\f1ab"
}
.fa-fax:before {
    content: "\f1ac"
}
.fa-building:before {
    content: "\f1ad"
}
.fa-child:before {
    content: "\f1ae"
}
.fa-paw:before {
    content: "\f1b0"
}
.fa-spoon:before {
    content: "\f1b1"
}
.fa-cube:before {
    content: "\f1b2"
}
.fa-cubes:before {
    content: "\f1b3"
}
.fa-behance:before {
    content: "\f1b4"
}
.fa-behance-square:before {
    content: "\f1b5"
}
.fa-steam:before {
    content: "\f1b6"
}
.fa-steam-square:before {
    content: "\f1b7"
}
.fa-recycle:before {
    content: "\f1b8"
}
.fa-automobile:before, .fa-car:before {
    content: "\f1b9"
}
.fa-cab:before, .fa-taxi:before {
    content: "\f1ba"
}
.fa-tree:before {
    content: "\f1bb"
}
.fa-spotify:before {
    content: "\f1bc"
}
.fa-deviantart:before {
    content: "\f1bd"
}
.fa-soundcloud:before {
    content: "\f1be"
}
.fa-database:before {
    content: "\f1c0"
}
.fa-file-pdf-o:before {
    content: "\f1c1"
}
.fa-file-word-o:before {
    content: "\f1c2"
}
.fa-file-excel-o:before {
    content: "\f1c3"
}
.fa-file-powerpoint-o:before {
    content: "\f1c4"
}
.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {
    content: "\f1c5"
}
.fa-file-zip-o:before, .fa-file-archive-o:before {
    content: "\f1c6"
}
.fa-file-sound-o:before, .fa-file-audio-o:before {
    content: "\f1c7"
}
.fa-file-movie-o:before, .fa-file-video-o:before {
    content: "\f1c8"
}
.fa-file-code-o:before {
    content: "\f1c9"
}
.fa-vine:before {
    content: "\f1ca"
}
.fa-codepen:before {
    content: "\f1cb"
}
.fa-jsfiddle:before {
    content: "\f1cc"
}
.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
    content: "\f1cd"
}
.fa-circle-o-notch:before {
    content: "\f1ce"
}
.fa-ra:before, .fa-rebel:before {
    content: "\f1d0"
}
.fa-ge:before, .fa-empire:before {
    content: "\f1d1"
}
.fa-git-square:before {
    content: "\f1d2"
}
.fa-git:before {
    content: "\f1d3"
}
.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before {
    content: "\f1d4"
}
.fa-tencent-weibo:before {
    content: "\f1d5"
}
.fa-qq:before {
    content: "\f1d6"
}
.fa-wechat:before, .fa-weixin:before {
    content: "\f1d7"
}
.fa-send:before, .fa-paper-plane:before {
    content: "\f1d8"
}
.fa-send-o:before, .fa-paper-plane-o:before {
    content: "\f1d9"
}
.fa-history:before {
    content: "\f1da"
}
.fa-circle-thin:before {
    content: "\f1db"
}
.fa-header:before {
    content: "\f1dc"
}
.fa-paragraph:before {
    content: "\f1dd"
}
.fa-sliders:before {
    content: "\f1de"
}
.fa-share-alt:before {
    content: "\f1e0"
}
.fa-share-alt-square:before {
    content: "\f1e1"
}
.fa-bomb:before {
    content: "\f1e2"
}
.fa-soccer-ball-o:before, .fa-futbol-o:before {
    content: "\f1e3"
}
.fa-tty:before {
    content: "\f1e4"
}
.fa-binoculars:before {
    content: "\f1e5"
}
.fa-plug:before {
    content: "\f1e6"
}
.fa-slideshare:before {
    content: "\f1e7"
}
.fa-twitch:before {
    content: "\f1e8"
}
.fa-yelp:before {
    content: "\f1e9"
}
.fa-newspaper-o:before {
    content: "\f1ea"
}
.fa-wifi:before {
    content: "\f1eb"
}
.fa-calculator:before {
    content: "\f1ec"
}
.fa-paypal:before {
    content: "\f1ed"
}
.fa-google-wallet:before {
    content: "\f1ee"
}
.fa-cc-visa:before {
    content: "\f1f0"
}
.fa-cc-mastercard:before {
    content: "\f1f1"
}
.fa-cc-discover:before {
    content: "\f1f2"
}
.fa-cc-amex:before {
    content: "\f1f3"
}
.fa-cc-paypal:before {
    content: "\f1f4"
}
.fa-cc-stripe:before {
    content: "\f1f5"
}
.fa-bell-slash:before {
    content: "\f1f6"
}
.fa-bell-slash-o:before {
    content: "\f1f7"
}
.fa-trash:before {
    content: "\f1f8"
}
.fa-copyright:before {
    content: "\f1f9"
}
.fa-at:before {
    content: "\f1fa"
}
.fa-eyedropper:before {
    content: "\f1fb"
}
.fa-paint-brush:before {
    content: "\f1fc"
}
.fa-birthday-cake:before {
    content: "\f1fd"
}
.fa-area-chart:before {
    content: "\f1fe"
}
.fa-pie-chart:before {
    content: "\f200"
}
.fa-line-chart:before {
    content: "\f201"
}
.fa-lastfm:before {
    content: "\f202"
}
.fa-lastfm-square:before {
    content: "\f203"
}
.fa-toggle-off:before {
    content: "\f204"
}
.fa-toggle-on:before {
    content: "\f205"
}
.fa-bicycle:before {
    content: "\f206"
}
.fa-bus:before {
    content: "\f207"
}
.fa-ioxhost:before {
    content: "\f208"
}
.fa-angellist:before {
    content: "\f209"
}
.fa-cc:before {
    content: "\f20a"
}
.fa-shekel:before, .fa-sheqel:before, .fa-ils:before {
    content: "\f20b"
}
.fa-meanpath:before {
    content: "\f20c"
}
.fa-buysellads:before {
    content: "\f20d"
}
.fa-connectdevelop:before {
    content: "\f20e"
}
.fa-dashcube:before {
    content: "\f210"
}
.fa-forumbee:before {
    content: "\f211"
}
.fa-leanpub:before {
    content: "\f212"
}
.fa-sellsy:before {
    content: "\f213"
}
.fa-shirtsinbulk:before {
    content: "\f214"
}
.fa-simplybuilt:before {
    content: "\f215"
}
.fa-skyatlas:before {
    content: "\f216"
}
.fa-cart-plus:before {
    content: "\f217"
}
.fa-cart-arrow-down:before {
    content: "\f218"
}
.fa-diamond:before {
    content: "\f219"
}
.fa-ship:before {
    content: "\f21a"
}
.fa-user-secret:before {
    content: "\f21b"
}
.fa-motorcycle:before {
    content: "\f21c"
}
.fa-street-view:before {
    content: "\f21d"
}
.fa-heartbeat:before {
    content: "\f21e"
}
.fa-venus:before {
    content: "\f221"
}
.fa-mars:before {
    content: "\f222"
}
.fa-mercury:before {
    content: "\f223"
}
.fa-intersex:before, .fa-transgender:before {
    content: "\f224"
}
.fa-transgender-alt:before {
    content: "\f225"
}
.fa-venus-double:before {
    content: "\f226"
}
.fa-mars-double:before {
    content: "\f227"
}
.fa-venus-mars:before {
    content: "\f228"
}
.fa-mars-stroke:before {
    content: "\f229"
}
.fa-mars-stroke-v:before {
    content: "\f22a"
}
.fa-mars-stroke-h:before {
    content: "\f22b"
}
.fa-neuter:before {
    content: "\f22c"
}
.fa-genderless:before {
    content: "\f22d"
}
.fa-facebook-official:before {
    content: "\f230"
}
.fa-pinterest-p:before {
    content: "\f231"
}
.fa-whatsapp:before {
    content: "\f232"
}
.fa-server:before {
    content: "\f233"
}
.fa-user-plus:before {
    content: "\f234"
}
.fa-user-times:before {
    content: "\f235"
}
.fa-hotel:before, .fa-bed:before {
    content: "\f236"
}
.fa-viacoin:before {
    content: "\f237"
}
.fa-train:before {
    content: "\f238"
}
.fa-subway:before {
    content: "\f239"
}
.fa-medium:before {
    content: "\f23a"
}
.fa-yc:before, .fa-y-combinator:before {
    content: "\f23b"
}
.fa-optin-monster:before {
    content: "\f23c"
}
.fa-opencart:before {
    content: "\f23d"
}
.fa-expeditedssl:before {
    content: "\f23e"
}
.fa-battery-4:before, .fa-battery-full:before {
    content: "\f240"
}
.fa-battery-3:before, .fa-battery-three-quarters:before {
    content: "\f241"
}
.fa-battery-2:before, .fa-battery-half:before {
    content: "\f242"
}
.fa-battery-1:before, .fa-battery-quarter:before {
    content: "\f243"
}
.fa-battery-0:before, .fa-battery-empty:before {
    content: "\f244"
}
.fa-mouse-pointer:before {
    content: "\f245"
}
.fa-i-cursor:before {
    content: "\f246"
}
.fa-object-group:before {
    content: "\f247"
}
.fa-object-ungroup:before {
    content: "\f248"
}
.fa-sticky-note:before {
    content: "\f249"
}
.fa-sticky-note-o:before {
    content: "\f24a"
}
.fa-cc-jcb:before {
    content: "\f24b"
}
.fa-cc-diners-club:before {
    content: "\f24c"
}
.fa-clone:before {
    content: "\f24d"
}
.fa-balance-scale:before {
    content: "\f24e"
}
.fa-hourglass-o:before {
    content: "\f250"
}
.fa-hourglass-1:before, .fa-hourglass-start:before {
    content: "\f251"
}
.fa-hourglass-2:before, .fa-hourglass-half:before {
    content: "\f252"
}
.fa-hourglass-3:before, .fa-hourglass-end:before {
    content: "\f253"
}
.fa-hourglass:before {
    content: "\f254"
}
.fa-hand-grab-o:before, .fa-hand-rock-o:before {
    content: "\f255"
}
.fa-hand-stop-o:before, .fa-hand-paper-o:before {
    content: "\f256"
}
.fa-hand-scissors-o:before {
    content: "\f257"
}
.fa-hand-lizard-o:before {
    content: "\f258"
}
.fa-hand-spock-o:before {
    content: "\f259"
}
.fa-hand-pointer-o:before {
    content: "\f25a"
}
.fa-hand-peace-o:before {
    content: "\f25b"
}
.fa-trademark:before {
    content: "\f25c"
}
.fa-registered:before {
    content: "\f25d"
}
.fa-creative-commons:before {
    content: "\f25e"
}
.fa-gg:before {
    content: "\f260"
}
.fa-gg-circle:before {
    content: "\f261"
}
.fa-tripadvisor:before {
    content: "\f262"
}
.fa-odnoklassniki:before {
    content: "\f263"
}
.fa-odnoklassniki-square:before {
    content: "\f264"
}
.fa-get-pocket:before {
    content: "\f265"
}
.fa-wikipedia-w:before {
    content: "\f266"
}
.fa-safari:before {
    content: "\f267"
}
.fa-chrome:before {
    content: "\f268"
}
.fa-firefox:before {
    content: "\f269"
}
.fa-opera:before {
    content: "\f26a"
}
.fa-internet-explorer:before {
    content: "\f26b"
}
.fa-tv:before, .fa-television:before {
    content: "\f26c"
}
.fa-contao:before {
    content: "\f26d"
}
.fa-500px:before {
    content: "\f26e"
}
.fa-amazon:before {
    content: "\f270"
}
.fa-calendar-plus-o:before {
    content: "\f271"
}
.fa-calendar-minus-o:before {
    content: "\f272"
}
.fa-calendar-times-o:before {
    content: "\f273"
}
.fa-calendar-check-o:before {
    content: "\f274"
}
.fa-industry:before {
    content: "\f275"
}
.fa-map-pin:before {
    content: "\f276"
}
.fa-map-signs:before {
    content: "\f277"
}
.fa-map-o:before {
    content: "\f278"
}
.fa-map:before {
    content: "\f279"
}
.fa-commenting:before {
    content: "\f27a"
}
.fa-commenting-o:before {
    content: "\f27b"
}
.fa-houzz:before {
    content: "\f27c"
}
.fa-vimeo:before {
    content: "\f27d"
}
.fa-black-tie:before {
    content: "\f27e"
}
.fa-fonticons:before {
    content: "\f280"
}
.fa-reddit-alien:before {
    content: "\f281"
}
.fa-edge:before {
    content: "\f282"
}
.fa-credit-card-alt:before {
    content: "\f283"
}
.fa-codiepie:before {
    content: "\f284"
}
.fa-modx:before {
    content: "\f285"
}
.fa-fort-awesome:before {
    content: "\f286"
}
.fa-usb:before {
    content: "\f287"
}
.fa-product-hunt:before {
    content: "\f288"
}
.fa-mixcloud:before {
    content: "\f289"
}
.fa-scribd:before {
    content: "\f28a"
}
.fa-pause-circle:before {
    content: "\f28b"
}
.fa-pause-circle-o:before {
    content: "\f28c"
}
.fa-stop-circle:before {
    content: "\f28d"
}
.fa-stop-circle-o:before {
    content: "\f28e"
}
.fa-shopping-bag:before {
    content: "\f290"
}
.fa-shopping-basket:before {
    content: "\f291"
}
.fa-hashtag:before {
    content: "\f292"
}
.fa-bluetooth:before {
    content: "\f293"
}
.fa-bluetooth-b:before {
    content: "\f294"
}
.fa-percent:before {
    content: "\f295"
}
/****** font Awesome End ****/

.custom-action-btn {
    /*cursor: pointer;*/
    text-align: center !important;
}

.custon_textarea .cke_chrome {
    width: 91%;
}

.btn-cls {
    float: right;
    font-size: 12px;
    margin: 3px 10px 0 0;
    padding: 3px 5px;
}
.message_box{    position: absolute;
                 z-index: 99;
                 width: 100%;
                 top: 30%; text-align: center;}
.message_row{position:relative; z-index: 99; width: 400px; margin: 0 auto; 
}

.message_backdrop{opacity: 0.5;     background-color: #000;
                  bottom: 0;
                  left: 0;
                  position: fixed;
                  right: 0;
                  top: 0;
                  z-index:9;}

#header h3 img{height: 70px;}
/*#content-header{margin-top: -59px;}*/
#sidebar > ul{max-height: 641px; overflow-y: scroll;}
